body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #e0bb20;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    line-height: 1.5;
    color: #e0bb20;
}

h3 {
    color: #841818;
    font-weight: 100;
}

p {
    color: #333333;
    font-weight: 100;
}

/* 透明漸變 - color - transparent */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 255.75), rgba(0, 0, 0, 0));
}

#title {
    color: #dfcdc3;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navbar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

/* download-botton */
.download-botton {
    margin: 5% 3% 5% 0
}

/* title-image */
.title-image {
    width: 100%;
    position: absolute;
    right: 5%;
}

/* Features */
#features {
    padding: 7% 15%;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.features-name {
    font-size: 1.5rem;
    color: #841818
}

.icon {
    color: #71a0a5;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Resume */
#resume {
    padding: 7% 15%;
    position: relative;
}

#work {
    position: relative;
}

.work-image {
    width: 100%;
    padding: 10px;
}

.testimonials-image-lg {
    width: 80%;
    padding: 20px;
    border-radius: 100%;
}

/* testimonials */
#testimonials {
    text-align: center;
    color: #672f2f;
}

.testimonials-image {
    width: 100%;
    padding: 20px;
}

#press {
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* pricing */
#pricing {
    padding: 10%;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%
}

/* cta */
#cta {
    text-align: center;
    padding: 7% 15%;
}

.cta-text {
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #e0bb20;
}

/* footer */
#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.footer-botton {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .cta-text{
        font-size: 2rem;
    }

    .title-image {
        position: static;
    }
}
